doctype html
html
    head
        title Walls Have Ears
    body
        b Users
        each item in users
            li= item
        b Connected Building & City Room
        div(id='roomCanvas')
        script(type="text/javascript" src="js/roomCanvas.js")
