doctype html
html
    head
        title Walls Have Ears
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    body
        div(class='container')
            h1 Walls Have Ears
            hr
            h3 Connected Building & City Room
            p
                canvas(id='roomCanvas' height=500 width=1000)
            hr
        script(id='script' type="text/javascript" src="./js/roomCanvas.js")
