doctype html
html
    head
        title Walls Have Ears
    body
        b Users
        each item in users
            li= item
        hr
        b Connected Building & City Room
        p
            canvas(id='roomCanvas' height=500 width=1000)
        script(id='script' type="text/javascript" src="js/roomCanvas.js")
